
.espaco-entre-elas{
    background-color: rgb(230, 0163, 21);
    margin: 20px;
}

.espaco-entre-elas{
    background-color: rgb(230, 163, 21);
    margin: 20px;
}

.espaco-entre-elas{
    background-color: rgb(230, 163, 21);
    margin: 20px;
}

.espaco-entre-elas{
    background-color: rgb(230, 163, 21);
    margin: 20px;
}

header{

    background-color: brown;

}

.frase{
    background-color: blueviolet;
}
.redes-sociais{
    background-color: blue;
}

h2{
    color:coral;
}
div{
    color: hotpink;
    
}

ol{
    color:rgb(160, 88, 62)
}

table{
    color:blueviolet;
}
 button{
     color: blue;
 }