/* estilos gerais*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.pagina{
    display: grid;
    /* width: 100vw; */
    grid-template-rows: 8vh 1fr 8vh;
}
header{
    grid-row: 1/2;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    width: 100vw;
}

header input{
    border: none;
    outline: none;
    height: 50%;
    width: 20%;
    padding: 10px;
}
header a{
    text-decoration: none;
    color: black;
}
.logo{
    font-size: 2.2rem;
    color:black;
}


.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    align-items: center;
    padding:20px;
}
.main a{
    text-decoration: none;
}
.card:hover{
    border:2px solid rgb(122, 57, 11);
    opacity: 60%;
}
footer{
    grid-row:3/-1;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
}

/* tela principal */
#main-principal{
    width: 100vw;
    grid-row: 2/3;
    min-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 300px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: chocolate;
    color: black;
}
.card img{
    width: 100%;
}
.card h3{
    padding: 5px;
    text-align: center;
    font-size: 1rem;
}
/* pagina dos videos */
#main-video{
    display: flex;
    min-height: 84vh;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#main-video video{
    width: 60%;
}
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .main{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    #main-video video{
        width: 90%;
    }

}